---
layout: page
title: Critical Digital Archives
<!-- title: Latest Posts -->
excerpt: "A graduate seminar at the University of Texas at Austin."
search_omit: true
---

Critical Digital Archives is a graduate seminar taught by Hannah Alpert-Abrams (Latin American Studies) and Kelly McDonough (Spanish and Portuguese) at the University of Texas at Austin. 

<h1 align="center">Recent Publications</h1>

<ul class="post-list">
{% for post in site.categories.blog limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
