---
layout: page
title: History of the Book in the Americas and Beyond
<!-- title: Latest Posts -->
excerpt: "An undergraduate course at the John Carter Brown Library, Brown University."
search_omit: true
---

<i>History of the Book in the Americas and Beyond</i> is an undergraduate seminar collaboratively designed and taught by staff at the <a ref="https://www.brown.edu/academics/libraries/john-carter-brown/">John Carter Brown Library at Brown University.</a> The instructors are: Neil Safier, director; Hannah Alpert-Abrams, Postdoctoral Fellow in the History of the Book; and Stijn van Rossem, Curator of European Books.

<!-- <h1 align="center">Recent Publications</h1>

<ul class="post-list">
{% for post in site.categories.blog limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
 -->