---
layout: page
title: Introduction
<!-- title: Latest Posts -->
excerpt: "An undergraduate course at the John Carter Brown Library, Brown University."
search_omit: true
---

<i>History of the Book in the Americas and Beyond</i> is an undergraduate seminar collaboratively designed and taught by staff at the <a ref="https://www.brown.edu/academics/libraries/john-carter-brown/">John Carter Brown Library at Brown University.</a> The instructors are: Neil Safier, director; Hannah Alpert-Abrams, Postdoctoral Fellow in the History of the Book; and Stijn van Rossem, Curator of European Books.